{% extends 'base.html' %}

{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background: linear-gradient(45deg, #ff00cc, #3333ff, #00ccff, #33ff00); background-size: 400% 400%; animation: gradientAnimation 10s linear infinite;">

    <div style="background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 20px; text-align: center;">

        <h1 style="font-size: 36px; margin-bottom: 20px;">Edit Product</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="btn submit_btn" value="Edit Product"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>

<style>
    /* Keyframes animation */
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }

    /* Gaya untuk input teks dalam form */
    .form-control {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
    }

    /* Gaya untuk tombol dalam form */
    .btn.submit_btn {
        background-color: #2ecc71;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    /* Gaya hover untuk tombol submit */
    .btn.submit_btn:hover {
        background-color: #27ae60;
    }
</style>
{% endblock %}
